<section class="section spaced featurd-in">
  <div class="container">
      <div class="text-center">
        <h1 class="header">AS SEEN ON</h1>
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ block.settings.text }}" class="icon-gallery__img desk">
        <img src="{{ section.settings.mobimage | img_url: 'master' }}" alt="{{ block.settings.text }}" class="icon-gallery__img mobile">
        <div class="featured_inner">
          {%- for block in section.blocks -%}
            {%- assign image_url = block.settings.image | img_url -%}
            <img src="{{image_url}}"/>
          {%- endfor -%}
        </div>
      </div>
  </div>
</section>
{% schema %}
{
  "name": "Featured In",
  "settings": [
            {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
		   {
             "type": "image_picker",
             "id": "mobimage",
             "label": "Mobile Image"  
           }
        ],
  "blocks": [
     {
       "type" : "text",
       "name" : "brand",
       "settings" : [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
       ]
     }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Featured In"
    }
  ]
}
{% endschema %}
